<div data-controller="dashboard" class="container">
  <div class="row">
  <div class="col">
    <canvas id="bar-chart" data-dashboard-target="grafico" width="400" height="350"></canvas>
  </div>
  </div>
</div>