<h1>Editing tipo telefone</h1>

<%= render "form", tipo_telefone: @tipo_telefone %>

<br>

<div>
  <%= link_to "Show this tipo telefone", @tipo_telefone %> |
  <%= link_to "Back to tipo telefones", tipo_telefones_path %>
</div>
