<div id="<%= dom_id faixa_contribuicao %>">
  <p>
    <strong>Min:</strong>
    <%= faixa_contribuicao.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= faixa_contribuicao.max %>
  </p>

  <p>
    <strong>Aliquota:</strong>
    <%= faixa_contribuicao.aliquota %>
  </p>

</div>
