<p style="color: green"><%= notice %></p>

<h1>Faixa contribuicaos</h1>

<div id="faixa_contribuicaos">
  <% @faixa_contribuicaos.each do |faixa_contribuicao| %>
    <%= render faixa_contribuicao %>
    <p>
      <%= link_to "Show this faixa contribuicao", faixa_contribuicao %>
    </p>
  <% end %>
</div>

<%= link_to "New faixa contribuicao", new_faixa_contribuicao_path %>
