<%= render "form", proponente: @proponente, title: "Editar Proponente" %>

<br>

<div class="buttons">
  <%= link_to "Show this proponente", @proponente, class: "button is-primary " %> | 
  <%= link_to "Back to proponentes", proponentes_path, class: "button is-link" %>
</div>
